.div-background div {
  width: 30px;
  height: 30px;
  background-color: yellow;
  float: inline-start;
  margin-left: 3px;
  border: 1px solid black;
}

.div-background div:nth-child(even) {
  background-color: green;
  margin-top: 15px;
}
